div {
    display: block;
    unicode-bidi: isolate;
}

body,
div,
form,
td,
th {
    margin: 0px;
    padding: 0px;
    background-color: rgb(245, 235, 220);
}

.Skin {
    color: rgb(0, 0, 0);
    font-family: helvetica, arial, sans-serif;
    font-size: medium;
}

.Skin #LogoContainer {
    display: none;
    background: 0px 0px;
    padding: 15px 15px 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}

.Skin #HeaderContainer {
    background-color: rgb(245, 235, 220) !important;
    padding: 10px 0px 0px !important;
    text-align: center;
}

.Skin #SkinContent {
    border: none;
    border-radius: 0px;
}

.Skin #Questions {
    overflow: auto;
}

img {
    max-width: 100%;
    height: auto !important;
}

#EndOfSurvey {
    background-color: white;
}

.Skin .EndOfSurvey {
    color: rgb(0, 0, 0);
    padding: 60px 40px;
}

.Skin #Footer {
    padding: 20px;
}

.Skin #Plug {
    text-align: center;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: gray;
}

tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}

td {
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
}

.offScreen {
    position: fixed;
    left: -9999px;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.Skin #Plug a {
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 12px 24px;
}


@media only screen and (max-width: 767px) {
    #BKLogo {
        max-height: 130px;
    }
}

@media only screen and (max-width: 767px) {
    #MYBKLogo {
        display: none;
    }
}

/* MY STYLES */

footer {
    width: 100vw;
    background-color: #FFFBF8;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #D5CEC9;
}

footer div {
    background-color: #FFFBF8;
}

.wrapURL {
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    border-radius: 8px;
    font-size: 12px;
}

.wrapURL, #URL {
    background-color: #FFFEFC;
} 

#row-1 {
    margin-top: 0.6em;
    display: grid;
    grid-template-columns: 8% 80% 8%;
    gap: 2%;
}

#left-side {
    border-radius: 0px 8px 8px 0px;
}

#right-side {
    border-radius: 8px 0px 0px 8px;
}

#wrapMainURL {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    padding: 4% 2%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
}

#aA {
    width: 20px;
    justify-self: center;
    align-self: center;
}

#candado {
    width: 9px;
    margin-right: 0.3em;
}

#URL {
    text-align: center;
}

#reload {
    width: 15px;
    justify-self: center;
    align-self: center;
}

#return {
    width: 10px;
}

#next {
    width: 12px;
}
 #share {
    width: 19px;
 }

 #bookmarks {
    width: 23px;
 }

 #view-pages {
    width: 20px;
 }

 #row-2 {
    margin: 0px 0px 2.8em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
 }

 header {
    width: 100vw;
    background-color: #FFFBF8;
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 45px auto 140px;
    background-color: #303135;
    color: white;
    height: 60px;
    font-family: 'Roboto', sans-serif;
}

#link-header-container > div > p:first-of-type {
    font-size: 0.9em;
}

#link-header-container > div > p:last-of-type {
    font-size: 0.7em;
}

header div {
    background-color: #303135;
}

header p {
    line-height: 4px;
}

#x-simbol {
    width: 15px;
    justify-self: center;
    align-self: center;
}

#link-header-container {
    display: grid;
    grid-template-columns: 17px auto;
    gap: 10px;
    align-self: center;
    justify-self: start;
}

#candado-android{
    width: 13px;
    justify-self: center;
    align-self: center;
}

#herramientas-android {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#herramientas-android {
    justify-self: center;
    align-self: center;
    width: 105px;
}

 
 